# Mid EXAM : Tools and Techniques Data Science

# Task 1: ( 5 Marks)  Warp up

# Note : Rename the file with your name and id and also mention your name and id inside here

Name: Danish Ali                                  ID: s2023393011

In [58]:
# Q1. Here, we take each element in the list a (temporarily assigning it the value i) 
a = [5, 10, 15, 20]
a

[5, 10, 15, 20]

In [ ]:
# (i)	Find the square each element in the list. This creates a new list called b and does not modify a through data comprehension.

In [61]:
x=list(map(lambda a: a**2,a))
print(x)

[25, 100, 225, 400]

In [62]:
# (ii)	Write a conditional statement of only squaring the elements if the element is not equal to 10.
x=list(map(lambda a: a**2 if x != 10 else x,a))
print(x)

[25, 100, 225, 400]

In [ ]:
# Q2. (i) Write the command of random samples from a uniform distribution between 0 and 1?

In [63]:
import numpy as np
import random

In [65]:
df = np.random.uniform(0,1, size=(5,5))
df

array([[0.57766339, 0.66780328, 0.8728812 , 0.42489327, 0.214682  ],
       [0.61440455, 0.78399544, 0.36847857, 0.14229373, 0.06077846],
       [0.50556471, 0.8860311 , 0.86087783, 0.83572771, 0.27707945],
       [0.02168485, 0.50585926, 0.03954391, 0.0973594 , 0.46814357],
       [0.27390414, 0.55200684, 0.86524274, 0.67504938, 0.47765902]])

In [ ]:
#(ii)	Write the command to slice the column 1?

In [69]:
x = slice(1)
x = df[x]
x

array([[0.57766339, 0.66780328, 0.8728812 , 0.42489327, 0.214682  ]])

In [ ]:
#(iii)	Write the command of first and third elements in column 1?

In [72]:
fElement = x[0][1]
secElement = x[0][2]
print('1st: ', fElement, '2nd: ', secElement)

1st:  0.6678032780925499 2nd:  0.8728811999128032

In [ ]:
#(iv)	 Write the command of returns an 8 x 4 array

In [73]:
arr = np.random.uniform(0,1,size=(8*4))
arr

array([0.37092367, 0.3130855 , 0.39739132, 0.79944409, 0.34362118,
       0.49799529, 0.86738149, 0.7871319 , 0.33192699, 0.24140362,
       0.22060586, 0.93652864, 0.20995628, 0.51259779, 0.0336841 ,
       0.89815635, 0.85703576, 0.61106528, 0.18221324, 0.31885876,
       0.68178538, 0.75637149, 0.44321083, 0.55658871, 0.1921072 ,
       0.72538357, 0.96985719, 0.3152654 , 0.86126224, 0.22430872,
       0.56300737, 0.16976475])

In [9]:
import pandas as pd

In [ ]:
#Q3. Create a Series that looks like this below:
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [76]:
index = ["Flour", "Milk", "Eggs", "Spam"]
data = ["4 cups", "1 cup","2 large", "1 can"]
pd.Series(data, index=index,name='Dinner')

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
# Q  4 Create the Data frame  as th output[27]

In [18]:
data = pd.DataFrame({'Apples':[35,41], 'Bananas':[21,34]}, index=['2017Sales','2018Sales'])
data

           Apples  Bananas
2017Sales      35       21
2018Sales      41       34

In [ ]:
#Q4. create Dataframe then find imputation for these missing NaN in the out[47]

In [25]:
data = ({'Age':[23, 39, 45, np.nan], 'Gender':['M','F','F','M'],'Income':[24200,np.nan,45390,np.nan], 'Religion':['Muslim','chirstian',np.nan,'Muslim']})
df = pd.DataFrame(data)
df

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  chirstian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [ ]:
df

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  chirstian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [ ]:
#Q4(i)	Compute the appropriate missing value in income attribute?

In [59]:
df['Income'].fillna(df['Income'].mean())
df

TypeError: ignored

In [ ]:
#(ii)	Compute the appropriate missing values in religion attribute?

In [ ]:
#(iii)	Drop the columns where any of the elements is nan

In [43]:
df.dropna(axis=1)

  Gender
0      M
1      F
2      F
3      M

In [ ]:
#(iv)	Keep only the rows with at least 2 non-na values

In [59]:
df.dropna(thresh=1)